/[Ll]ibrary/
/[Ll]ogs/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Uu]serSettings/
/[Rr]ecordings/
*.unitypackage
unityProject.vrmanifest

/.vs/
/.idea/
/.vscode/
.vsconfig
*.csproj
*.sln
*.zip
*.zip.meta

Assets/Resources/garment3d/
Assets/Resources/garment3d.meta
